<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/createninja" method="post">
        <span>Dojos:</span>
        <select name="dojo_id" id="list">
            {%for dojo in dojos%}
            <option value="{{dojo.id}}">{{dojo.name}}</option>
            {%endfor%}
        </select><br>

        <span>First Name:</span>
        <input type="text" name="first_name" id="first_name"><br>
        <span>Last Name:</span>
        <input type="text" name="last_name" id="last_name"><br>
        <span>Age:</span>
        <input type="text" name="age" id="age"><br>
        <button type="submit">Crete Ninja</button>
    </form>
    <a href="/">Home</a>
</body>
</html>